/* Base */
html {
    background: #252830;
}
html.wp-toolbar {
    padding-top: 50px;
}
body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #CFD2DA;
    font-weight: 300;
	letter-spacing: 0px;
}
/* WP Admin Bar */
#wpadminbar * {
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
#wpadminbar {
	background-color: #1A1C22;
	border-color: #1A1C22;
	height: 50px;
	line-height: 50px;
}
#wpadminbar .quicklinks .ab-empty-item, #wpadminbar .quicklinks a, #wpadminbar .shortlink-input {
	height: 50px;
	line-height: 50px;
}
#wpadminbar #wp-admin-bar-my-sites > .ab-item::before, #wpadminbar #wp-admin-bar-site-name > .ab-item::before {
	top: 10px;
}
/* WP Admin Menu */
#adminmenu {
    margin: -2px 0px;
}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    width: 160px;
    background-color: #30343E;
}
ul#adminmenu a.wp-has-current-submenu::after, ul#adminmenu > li.current > a.current::after {
	border-color: transparent #252830 transparent transparent;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: #1CA8DD;
    color: #252830;
    font-weight: 500;
}
#adminmenu .current div.wp-menu-image::before, #adminmenu .wp-has-current-submenu div.wp-menu-image::before, #adminmenu a.current:hover div.wp-menu-image::before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image::before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image::before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image::before, #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image::before {
	color: #252830;
}
#adminmenu li.wp-menu-separator {
	display: none;
}
/* Folded Menu */
.folded #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu .wp-menu-arrow, .folded #adminmenu .wp-menu-arrow div, .folded #adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
	color: #6F7890;
	background: #252830;
}
.folded #adminmenu .current div.wp-menu-image::before, .folded #adminmenu .wp-has-current-submenu div.wp-menu-image::before, .folded #adminmenu a.current:hover div.wp-menu-image::before, .folded #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image::before, .folded #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image::before, .folded #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image::before, .folded #adminmenu li.wp-has-current-submenu:hover div.wp-menu-image::before {
	color: #6F7890;
	background: #252830;
}
.folded #adminmenu .opensub .wp-submenu,.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,.folded #adminmenu .wp-has-current-submenu a.menu-top:focus+.wp-submenu,.folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,.folded #adminmenu .wp-submenu.sub-open,.folded #adminmenu a.menu-top:focus+.wp-submenu,.no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu{
	top:0;
	left:70px
}
.folded #adminmenu, .folded #adminmenu li.menu-top, .folded #adminmenuback, .folded #adminmenuwrap {
    width: 70px;
    border-top: 1px solid #252830;
}
.folded #adminmenu div.wp-menu-image {
    position: absolute;
    z-index: 25;
    width: 70px;
    height: 58px;
}
.folded #adminmenu a.menu-top {
    height: 58px;
}
.folded #wpcontent, .folded #wpfooter {
    margin-left: 70px;
}
.folded #adminmenu div.wp-menu-image::before {
    padding: 15px 0px;
    color: #fff;
}
#collapse-button, #collapse-button div {
    height: 15px;
    width: 50px;
}
/* Buttons */
.wp-core-ui .button, .wp-core-ui .button-secondary {
	box-shadow: none;
}
.wp-core-ui .button {
	color: #51586A;
	background-color: #FFF;
	border-color: #E6E6E6;
	font-weight: bold;
}
.wp-core-ui .button:hover {
	color: #51586A;
	background-color: #FFF;
	border-color: #E6E6E6;	
}
.wp-core-ui .button-primary {
	color: #FFF;
	background-color: #1CA8DD;
	border-color: #1997C6;
	font-weight: bold;
}
.wp-core-ui .button-secondary {
	color: #51586A;
	background-color: #FFF;
	border-color: #E6E6E6;	
	font-weight: bold;
}
.wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover {
    color: #51586A;
	background-color: #E6E6E6;
	border-color: #C7C7C7;
}
.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
	box-shadow: none;
}
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
    background: none;
    font-weight: 400;
    font-size: 14px;
    color: #1997C6;
    border: 1px solid #1997C6;
    border-radius: 4px;
}
.wrap .add-new-h2:hover, .wrap .page-title-action:hover {
    background: #1997C6 none repeat scroll 0% 0%;
    color: #FFF;
}
/* Titles */
.wrap h1 {
	font-weight: 300;
	line-height: 1.1;
	color: #FFF;
}
h3 {
    color: #CFD2DA;
}
/* Base */
a {
    color: #CFD2DA;
}
a:hover {
    color: #fff;
}
.ac_match, .subsubsub a.current {
    color: #1CA8DD;
	border-bottom: 4px solid #1CA8DD;
}
.subsubsub a.current .count {
	color: #1CA8DD;
}
input[type="text"], input[type="password"], input[type="checkbox"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="radio"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], input[type="search"], select, textarea {
    border: 1px solid #434857;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
    background-color: #434857;
    color: #32373C;
    outline: none;
    transition: border-color 0.05s ease-in-out 0s;
    border-radius: 4px;
    padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	color: #FFF;
}
#all-plugins-table .plugins a.delete:hover, #media-items a.delete-permanently:hover, #media-items a.delete:hover, #nav-menu-footer .menu-delete:hover, #search-plugins-table .plugins a.delete:hover, .file-error, .plugins a.delete:hover, .row-actions .delete a:hover, .row-actions .spam a:hover, .row-actions .trash a:hover, .submitbox .submitdelete:hover, .widget-control-remove:hover, abbr.required {
    color: #E33145;
}
.form-wrap p, p.description {
    margin: 2px 0px 5px;
    color: #CFD2DA;
}
/* Tables */
#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
    border: 1px solid #434857;
    box-shadow: none;
    color: #CFD2DA;
}
.comment-ays, .feature-filter, .imgedit-group, .popular-tags, .stuffbox, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
    background: none;
}
.alternate, .striped > tbody > :nth-child(2n+1), ul.striped > :nth-child(2n+1) {
	background: none;
}
.widefat ol, .widefat p, .widefat tfoot tr td, .widefat tfoot tr th, .widefat thead tr td, .widefat thead tr th, .widefat ul {
    color: #CFD2DA;
}
.sorting-indicator::before, th .comment-grey-bubble::before {
	color: #CFD2DA;
}
.widefat thead td, .widefat thead th {
    border-bottom: 2px solid #434857;
    font-weight: bold;
}
.widefat tfoot td, .widefat tfoot th {
	border-top: 1px solid #434857;
}
.widefat th.sorted {
    border-bottom: 2px solid #1CA8DD;
}
.widefat td, .widefat th {
	color: #CFD2DA;
}
th.sorted a {
	color: #1CA8DD !important;
}
th.sorted .sorting-indicator:before {
	color: #1CA8DD !important;
}
.tablenav .tablenav-pages {
    color: #CFD2DA;
}
.tablenav .tablenav-pages a, .tablenav-pages-navspan {
    border: 1px solid #51586A;
    color: #fff;
    background: none repeat scroll 0% 0%;
}
.tablenav .tablenav-pages a:hover {
	color: #fff;
	background: #51586A;
	border: 1px solid #51586A;
}
.tablenav-pages-navspan {
    height: 16px;
    border-color: #51586A;
    background: none repeat scroll 0% 0%;
    color: #51586A;
}
.plugins tr {
	background: none;
}
/* Metabox */
.postbox {
	min-width: 255px;
	border: 1px solid #434857;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04);
	background: #1A1C22;
	border-radius: 4px;
}
.postbox .hndle, .stuffbox .hndle {
    border-bottom: 2px solid #404453;
}
#postcustomstuff table {
    border: 1px solid #1A1C22;
    background-color: #1A1C22;
}
#postcustomstuff thead th {
    background-color: #1A1C22;
    border-bottom: 2px solid #434857;
}
/* Screen-meta */
#screen-meta {
    display: none;
    margin: 0px 20px 0px 0px;
    position: relative;
    background-color: rgb(67, 72, 87);
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: transparent; rgb(67, 72, 87) rgb(67, 72, 87);
    border-image: none;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.024);
    border-radius: 0 0 4px 4px;
}
#contextual-help-link-wrap, #screen-options-link-wrap {
    border: none;
    background: none;
    box-shadow: none;
}
#screen-meta-links .show-settings {
    background: rgb(67, 72, 87) none repeat scroll 0% 0%;
    border-radius: 4px;
    line-height: 1.7;
    color: #CFD2DA;
    border: 1px solid rgb(67, 72, 87);
    padding: 3px 6px 3px 16px;
    border-radius: 0 0 4px 4px;
}
#screen-meta-links .show-settings:hover {
	color: #fff;
}
#contextual-help-back {
    border-width: medium 1px;
    border-style: none solid;
    border-color: #252830;
    background: #252830;
}
.contextual-help-tabs .active {
    border-left: 3px solid #1997C6;
}
.contextual-help-tabs .active a:hover {
	color: #32373C;
}
.contextual-help-tabs a:hover {
    color: #fff;
}
/* Media */
.wp-filter {
    border: 1px solid #3F4453;
    background: none;
    color: #555;
    font-size: 14px;
    border-radius: 4px;
}
.media-modal-content {
    background: #252830;
}
.edit-attachment-frame .edit-media-header .left, .edit-attachment-frame .edit-media-header .right, .upload-php .media-modal-close {
	border-color: #434857;
}
.media-frame input[type="text"], .media-frame input[type="password"], .media-frame input[type="number"], .media-frame input[type="search"], .media-frame input[type="email"], .media-frame input[type="url"], .media-frame select, .media-frame textarea {
	border-color: #434857;
}
/* Comments */
#the-comment-list .unapprove a {
    color: #E1D420;
}
/* Plugins */
.plugin-update-tr.active td, .plugins .active th.check-column {
    border-left: 4px solid #1CA8DD;
}
.plugins .active td, .plugins .active th {
	background: none;
}
.plugins tr.active + tr.inactive td, .plugins tr.active + tr.inactive th, .plugins tr.active.plugin-update-tr + tr.inactive td, .plugins tr.active.plugin-update-tr + tr.inactive th {
	box-shadow: none;
	border: none;
}
.plugin-install #the-list td, .plugins .active td, .plugins .active th, .plugins .inactive td, .plugins .inactive th, .upgrade .plugins td, .upgrade .plugins th {
	box-shadow: none;
}
.plugin-update-tr .update-message,
tr.active + tr.plugin-update-tr:not(.updated) .plugin-update .update-message {
    background-color: #9F86FF;
    color: rgba(255, 255, 255, 0.65);
}
tr.active + tr.plugin-update-tr .plugin-update {
	background: none;
}
/* Profile */
.form-table th, .form-wrap label {
    color: #CFD2DA;
    background: none !important;
}
/* Tools */
.card {
	border:none;
	background: none;
	padding: 0;
}
/* Footer */
#wpfooter {
	color: #CFD2DA;
}
#wpfooter a {
	font-weight: bold;
}
/* Dashboard */
#activity-widget #the-comment-list .comment-item {
	background: none;
}
#activity-widget #the-comment-list .comment, #activity-widget #the-comment-list .pingback {
    box-shadow: none;
}
.activity-block {
    border-bottom: 1px solid #404453;
}
#activity-widget #the-comment-list .comment-item:first-child, #dashboard_right_now .sub, .js #dashboard_quick_press .drafts {
    border-top: 1px solid #404453;
}
/* Editor */
#titlediv #title {
	background: inherit;
}
#titlediv #title-prompt-text {
    padding: 4px 10px;
}
#wp-content-editor-tools {
	background: none;
}
#editable-post-name {
    color: #CFD2DA;
    background: #434857;
}
/* Notices */
.notice-success, div.updated {
    border-color: transparent;
    background: #1BC98E;
    color: #fff;
    border-radius: 4px;
}
bulk-titles div a::before, .notice-dismiss::before, .tagchecklist span a::before, .welcome-panel .welcome-panel-close::before {
    color: #fff;
}
.notice-dismiss:active::before, .notice-dismiss:focus::before, .notice-dismiss:hover::before {
    color: rgba(255, 255, 255, 0.65);
}
.updated a {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}
.updated a:hover {
	text-decoration: none;
}